<div
  class="inline-flex items-center justify-center gap-2 rounded-full bg-neutral-200 px-3 py-2 shadow-md dark:bg-neutral-800"
>
  <button class="block">
    <span class="material-symbols-rounded block">account_circle</span>
  </button>
  <button class="block">
    <span class="material-symbols-rounded block">person_add</span>
  </button>
  <button class="block">
    <span class="material-symbols-rounded block">dashboard</span>
  </button>
  <button class="block">
    <span class="material-symbols-rounded block">shopping_cart</span>
  </button>
  <button class="block" (click)="changeTheme()">
    <span class="material-symbols-rounded block">
      {{ isDark() ? "light_mode" : "dark_mode" }}
    </span>
  </button>
  <button class="block">
    <span class="material-symbols-rounded block">menu</span>
  </button>
</div>
